# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/BrokenFileSystemOn17.6/FileContentIndex/3d3e8e6b-aa08-400a-b7f9-7179663836b5.vsidx
.vs/BrokenFileSystemOn17.6/FileContentIndex/cec54136-47a1-4c29-9023-0c983077988a.vsidx
.vs/BrokenFileSystemOn17.6/FileContentIndex/fc7af760-4588-443d-a3b0-234188f62e7c.vsidx
.vs/BrokenFileSystemOn17.6/FileContentIndex/read.lock
.vs/BrokenFileSystemOn17.6/v17/.suo
.vs/BrokenFileSystemOn17.6/v17/Preview/Browse.VC.db
.vs/BrokenFileSystemOn17.6/v17/Preview/Browse.VC.db-shm
.vs/BrokenFileSystemOn17.6/v17/Preview/Browse.VC.db-wal
.vs/BrokenFileSystemOn17.6/v17/Preview/Browse.VC.opendb
.vs/BrokenFileSystemOn17.6/v17/Preview/ipch/AutoPCH/13f8aff339863d5d/MAIN.ipch
BrokenFileSystemOn17.6.sln
BrokenFileSystemOn17.6/BrokenFileSystemOn17.6.vcxproj
BrokenFileSystemOn17.6/BrokenFileSystemOn17.6.vcxproj.filters
BrokenFileSystemOn17.6/BrokenFileSystemOn17.6.vcxproj.user
BrokenFileSystemOn17.6/brokenIter.ixx
BrokenFileSystemOn17.6/main.cpp
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7.tlog/BrokenFileSystemOn17.6.lastbuildstate
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7.tlog/CL.command.1.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7.tlog/Cl.items.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7.tlog/CL.read.1.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7.tlog/CL.write.1.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7.tlog/link.command.1.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7.tlog/link.read.1.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7.tlog/link.write.1.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7.tlog/unsuccessfulbuild
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7_MD.tlog/CL.command.1.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFi.313193f7_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
BrokenFileSystemOn17.6/x64/Debug/BrokenFileSystemOn17.6.exe.recipe
BrokenFileSystemOn17.6/x64/Debug/BrokenFileSystemOn17.6.ilk
BrokenFileSystemOn17.6/x64/Debug/BrokenFileSystemOn17.6.log
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc.d.json
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc.dt
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc.dt.command
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc.dt.d.json
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc.dt.module.json
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc.dt.module.json.command
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc.isense.dt
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc.isense.dt.command
BrokenFileSystemOn17.6/x64/Debug/brokenIter.ixx.ifc.isense.dt.d.json
BrokenFileSystemOn17.6/x64/Debug/brokeniter.ixx.module.json
BrokenFileSystemOn17.6/x64/Debug/std.compat.ixx.ifc
BrokenFileSystemOn17.6/x64/Debug/std.compat.ixx.ifc.d.json
BrokenFileSystemOn17.6/x64/Debug/std.compat.ixx.ifc.dt.d.json
BrokenFileSystemOn17.6/x64/Debug/std.compat.ixx.ifc.dt.module.json
BrokenFileSystemOn17.6/x64/Debug/std.compat.ixx.ifc.dt.module.json.command
BrokenFileSystemOn17.6/x64/Debug/std.compat.ixx.module.json
BrokenFileSystemOn17.6/x64/Debug/std.ixx.ifc
BrokenFileSystemOn17.6/x64/Debug/std.ixx.ifc.d.json
BrokenFileSystemOn17.6/x64/Debug/std.ixx.ifc.dt.d.json
BrokenFileSystemOn17.6/x64/Debug/std.ixx.ifc.dt.module.json
BrokenFileSystemOn17.6/x64/Debug/std.ixx.ifc.dt.module.json.command
BrokenFileSystemOn17.6/x64/Debug/std.ixx.module.json
BrokenFileSystemOn17.6/x64/Debug/vc143.idb
BrokenFileSystemOn17.6/x64/Debug/vc143.pdb
x64/Debug/BrokenFileSystemOn17.6.pdb
